In [67]:
# Import components
import datetime as dt
import math
import warnings

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pmdarima as pm
import seaborn as sns
from matplotlib import pyplot as pltw
from pmdarima import arima, datasets, model_selection, utils
from scipy.spatial import distance
from sklearn import metrics
from sklearn.metrics import mean_absolute_error
from sklearn.neighbors import LocalOutlierFactor
from statsmodels.tsa.seasonal import STL

warnings.simplefilter("ignore")

plt.rcParams["font.family"] = "Hiragino Maru Gothic Pro"
plt.style.use("ggplot")  # グラフのスタイル
plt.rcParams["figure.figsize"] = [12, 9]  # グラフサイズ設定

In [68]:
df = pd.read_csv("../datasets/fixed_battery_log_2.csv")
df["date"] = pd.to_datetime(df["date"])
users = df["User"].unique()

In [69]:
df.head()

     User                date  battery state  weekday  time_to_num
0  Narita 2021-12-04 01:52:00       60    ON        5         6773
1  Narita 2021-12-04 02:22:00       73   OFF        5         8566
2  Narita 2021-12-04 07:06:00       71    ON        5        25564
3  Narita 2021-12-04 07:15:00       73   OFF        5        26105
4  Narita 2021-12-04 07:15:00       73    ON        5        26113

In [99]:
# X_train = df.loc[
#     (df["User"] == "Narita") & (df["state"] == "ON") & (df["date"] < "2022-01-31")
# ][["battery", "weekday", "time_to_num"]].copy()
X_train = df.loc[(df["state"] == "ON") & (df["date"] < "2022-01-31")][
    ["battery", "weekday", "time_to_num"]
].copy()

In [100]:
# y_train = df.loc[
#     (df["User"] == "Narita") & (df["state"] == "ON") & (df["date"] < "2022-01-31")
# ]["User"].copy()
y_train = df.loc[
    (df["state"] == "ON") & (df["date"] < "2022-01-31")
]["User"].copy()

In [101]:
# X_test = df.loc[
#     (df["User"] == "Narita") & (df["state"] == "ON") & (df["date"] > "2022-01-31")
# ][["battery", "weekday", "time_to_num"]].copy()
X_test = df.loc[
    (df["state"] == "ON") & (df["date"] > "2022-01-31")
][["battery", "weekday", "time_to_num"]].copy()

In [102]:
# y_test = df.loc[
#     (df["User"] == "Narita") & (df["state"] == "ON") & (df["date"] > "2022-01-31")
# ]["User"].copy()
y_test = df.loc[
    (df["state"] == "ON") & (df["date"] > "2022-01-31")
]["User"].copy()

In [103]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [104]:
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [105]:
from sklearn import metrics

pred = model.predict(X_test)
print(metrics.accuracy_score(y_test, pred))

0.1891385767790262