In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [3]:
df = pd.read_csv("./datasets/fixed_battery_log.csv")
df = df.drop(df.columns[0],axis=1)
df["date"] = pd.to_datetime(df["date"])

In [4]:
users = df["User"].unique()
users

array(['Narita', 'Yusuke', 'Ayumi', 'Daiki', 'Shunya', 'Hayate',
       'Moriyama', 'Isshin'], dtype=object)

In [16]:
np.mean(df.loc[(df["User"] == "Narita") & (df["state"] == "ON") & (df["date"] > dt.datetime(2022,1,1)) & (df["date"] < dt.datetime(2022,1,31))]["battery"])

47.55555555555556

In [17]:
np.mean(df.loc[(df["User"] == "Yusuke") & (df["state"] == "ON") & (df["date"] > dt.datetime(2022,1,1)) & (df["date"] < dt.datetime(2022,1,31))]["battery"])

48.784615384615385

In [19]:
for i in users:
    print(i,"\n",df.loc[(df["User"] == i) & (df["state"] == "ON") & (df["date"] > dt.datetime(2022,1,1)) & (df["date"] < dt.datetime(2022,1,31))]["battery"].describe())

Narita
 count     90.000000
mean      47.555556
std       22.820802
min        3.000000
25%       29.250000
50%       50.000000
75%       60.750000
max      100.000000
Name: battery, dtype: float64
Yusuke
 count    65.000000
mean     48.784615
std      10.932309
min      28.000000
25%      41.000000
50%      48.000000
75%      56.000000
max      72.000000
Name: battery, dtype: float64
Ayumi
 count     76.000000
mean      72.131579
std       24.460767
min       21.000000
25%       50.750000
50%       78.500000
75%       93.000000
max      100.000000
Name: battery, dtype: float64
Daiki
 count    114.000000
mean      64.263158
std       29.537752
min       14.000000
25%       36.250000
50%       72.500000
75%       94.750000
max      100.000000
Name: battery, dtype: float64
Shunya
 count    53.000000
mean     33.811321
std      21.567476
min       1.000000
25%      20.000000
50%      31.000000
75%      42.000000
max      94.000000
Name: battery, dtype: float64
Hayate
 count     35.000000
mean      36.800000
std       33.888919
min        4.000000
25%       14.000000
50%       20.000000
75%       43.000000
max      100.000000
Name: battery, dtype: float64
Moriyama
 count     94.000000
mean      77.914894
std       20.787020
min       12.000000
25%       67.000000
50%       82.500000
75%       94.500000
max      100.000000
Name: battery, dtype: float64
Isshin
 count     66.000000
mean      30.833333
std       33.981707
min        4.000000
25%        6.000000
50%       11.500000
75%       50.500000
max      100.000000
Name: battery, dtype: float64

In [21]:
for i in users:
    print(i,"\n",df.loc[(df["User"] == i) & (df["state"] == "ON") & (df["date"] > dt.datetime(2021,12,1)) & (df["date"] < dt.datetime(2022,1,31))]["battery"].describe())

Narita
 count    144.000000
mean      46.173611
std       21.862357
min        3.000000
25%       29.750000
50%       47.000000
75%       60.250000
max      100.000000
Name: battery, dtype: float64
Yusuke
 count    134.000000
mean      49.037313
std       12.271617
min       14.000000
25%       42.000000
50%       49.000000
75%       56.750000
max       91.000000
Name: battery, dtype: float64
Ayumi
 count    160.000000
mean      78.231250
std       22.705171
min       21.000000
25%       68.750000
50%       87.500000
75%       95.000000
max      100.000000
Name: battery, dtype: float64
Daiki
 count    201.000000
mean      63.542289
std       28.565179
min        9.000000
25%       37.000000
50%       66.000000
75%       91.000000
max      100.000000
Name: battery, dtype: float64
Shunya
 count    128.000000
mean      33.195312
std       21.086271
min        1.000000
25%       18.000000
50%       28.000000
75%       42.000000
max       97.000000
Name: battery, dtype: float64
Hayate
 count     73.000000
mean      33.986301
std       29.081062
min        2.000000
25%       15.000000
50%       20.000000
75%       42.000000
max      100.000000
Name: battery, dtype: float64
Moriyama
 count    169.000000
mean      69.627219
std       24.672801
min        1.000000
25%       52.000000
50%       73.000000
75%       91.000000
max      100.000000
Name: battery, dtype: float64
Isshin
 count    133.000000
mean      34.353383
std       34.685862
min        1.000000
25%        6.000000
50%       18.000000
75%       57.000000
max      100.000000
Name: battery, dtype: float64

In [5]:
df.loc[(df["state"] == "ON") & (df["date"] > dt.datetime(2021,12,1)) & (df["date"] < dt.datetime(2022,1,31)),["User","battery"]]

        User  battery
0     Narita       60
2     Narita       71
4     Narita       73
6     Narita       30
8     Narita       42
...      ...      ...
3418  Isshin      100
3420  Isshin       97
3422  Isshin      100
3424  Isshin       20
3426  Isshin      100

[1142 rows x 2 columns]

In [6]:
def Frequency_Distribution(data, class_width=None):
    data = np.asarray(data)
    if class_width is None:
        class_size = int(np.log2(data.size).round()) + 1
        class_width = round((data.max() - data.min()) / class_size)

    bins = np.arange(0, data.max()+class_width+1, class_width)
    hist = np.histogram(data, bins)[0]
    cumsum = hist.cumsum()

    return pd.DataFrame({'階級値': (bins[1:] + bins[:-1]) / 2,
                         '度数': hist,
                         '累積度数': cumsum,
                         '相対度数': hist / cumsum[-1],
                         '累積相対度数': cumsum / cumsum[-1]},
                        index=pd.Index([f'{bins[i]}以上{bins[i+1]}未満'
                                        for i in range(hist.size)],
                                       name='階級'))

In [9]:
Frequency_Distribution(df.loc[(df["state"] == "ON") & (df["date"] > dt.datetime(2021,12,1)) & (df["date"] < dt.datetime(2022,1,31)),["battery"]])

             階級値   度数  累積度数      相対度数    累積相対度数
階級
0以上9未満       4.5   73    73  0.063923  0.063923
9以上18未満     13.5   79   152  0.069177  0.133100
18以上27未満    22.5   98   250  0.085814  0.218914
27以上36未満    31.5  112   362  0.098074  0.316988
36以上45未満    40.5  117   479  0.102452  0.419440
45以上54未満    49.5  127   606  0.111208  0.530648
54以上63未満    58.5   92   698  0.080560  0.611208
63以上72未満    67.5   70   768  0.061296  0.672504
72以上81未満    76.5   77   845  0.067426  0.739930
81以上90未満    85.5   83   928  0.072680  0.812609
90以上99未満    94.5  122  1050  0.106830  0.919440
99以上108未満  103.5   92  1142  0.080560  1.000000