In [1]:
import numpy as np
import matplotlib.pyplot as plt

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("datasets/battery_log.csv")
df.head()

     User            date     time  battery state
0  Narita  2021-12-04-Sat  1:52:53       60    ON
1  Narita  2021-12-04-Sat  2:22:46       73   OFF
2  Narita  2021-12-04-Sat  7:06:04       71    ON
3  Narita  2021-12-04-Sat  7:15:05       73   OFF
4  Narita  2021-12-04-Sat  7:15:13       73    ON

In [4]:
df.iloc[:,0].unique()

array(['Narita', 'Yusuke', 'Ayumi', 'Daiki', 'Shunya', 'Hayate',
       'Moriyama', 'Isshin'], dtype=object)

In [5]:
df.sum().isnull()

User       False
date       False
time       False
battery    False
state      False
dtype: bool

In [6]:
df["date"] = pd.to_datetime(df["date"]+" "+df["time"])

In [7]:
df.head()

     User                date     time  battery state
0  Narita 2021-12-04 01:52:53  1:52:53       60    ON
1  Narita 2021-12-04 02:22:46  2:22:46       73   OFF
2  Narita 2021-12-04 07:06:04  7:06:04       71    ON
3  Narita 2021-12-04 07:15:05  7:15:05       73   OFF
4  Narita 2021-12-04 07:15:13  7:15:13       73    ON

In [15]:
df = df.drop("time",axis=1)

KeyError: "['time'] not found in axis"

In [19]:
df.head()

     User                date  battery state
0  Narita 2021-12-04 01:52:53       60    ON
1  Narita 2021-12-04 02:22:46       73   OFF
2  Narita 2021-12-04 07:06:04       71    ON
3  Narita 2021-12-04 07:15:05       73   OFF
4  Narita 2021-12-04 07:15:13       73    ON

In [17]:
df.dtypes

User               object
date       datetime64[ns]
battery             int64
state              object
dtype: object

In [20]:
df.sum().isnull()

User       False
battery    False
state      False
dtype: bool

In [21]:
df.to_csv("datasets/fixed_battery_log.csv")